In [1]:
import netCDF4 as nc
import numpy as np
import pandas as pd
import os

In [2]:
"E:\\数据集\\天气预报\\"

'E:\\数据集\\天气预报\\'

In [3]:
nc_obj=nc.Dataset("E:\dataset\Weather forecast\li_challenger_wf2018_trainingset_20150301-20180531.nc")

In [4]:
print(nc_obj)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_CLASSIC data model, file format NETCDF3):
    dimensions(sizes): foretimes(37), station(10), date(1188)
    variables(dimensions): int32 foretimes(foretimes), int32 station(station), float64 date(date), float32 psfc_M(date,foretimes,station), float32 t2m_M(date,foretimes,station), float32 q2m_M(date,foretimes,station), float32 rh2m_M(date,foretimes,station), float32 w10m_M(date,foretimes,station), float32 d10m_M(date,foretimes,station), float32 u10m_M(date,foretimes,station), float32 v10m_M(date,foretimes,station), float32 SWD_M(date,foretimes,station), float32 GLW_M(date,foretimes,station), float32 HFX_M(date,foretimes,station), float32 LH_M(date,foretimes,station), float32 RAIN_M(date,foretimes,station), float32 PBLH_M(date,foretimes,station), float32 TC975_M(date,foretimes,station), float32 TC925_M(date,foretimes,station), float32 TC850_M(date,foretimes,station), float32 TC700_M(date,foretimes,station), float32 TC500_M(date,foretimes,station), float32 wspd975_M(date,foretimes,station), float32 wspd925_M(date,foretimes,station), float32 wspd850_M(date,foretimes,station), float32 wspd700_M(date,foretimes,station), float32 wspd500_M(date,foretimes,station), float32 Q975_M(date,foretimes,station), float32 Q925_M(date,foretimes,station), float32 Q850_M(date,foretimes,station), float32 Q700_M(date,foretimes,station), float32 Q500_M(date,foretimes,station), float32 psur_obs(date,foretimes,station), float32 t2m_obs(date,foretimes,station), float32 q2m_obs(date,foretimes,station), float32 w10m_obs(date,foretimes,station), float32 d10m_obs(date,foretimes,station), float32 rh2m_obs(date,foretimes,station), float32 u10m_obs(date,foretimes,station), float32 v10m_obs(date,foretimes,station), float32 RAIN_obs(date,foretimes,station)
    groups:

In [5]:
"E:\\dataset\\Weather forecast\\"+"foretimes"

'E:\\dataset\\Weather forecast\\foretimes'

In [6]:
nc_obj.variables["foretimes"][:]

masked_array(data=[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13,
                   14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
                   28, 29, 30, 31, 32, 33, 34, 35, 36],
             mask=False,
       fill_value=999999)

In [7]:
#for var in nc_obj.variables.keys():
#    print (var)
#    print (type(var))

In [8]:
import sys
sys.path[0]

''

In [9]:
#解析nc及分析数据结构
from netCDF4 import Dataset
import netCDF4 as nc
import numpy as np
import sys
import pickle
def parse_nc():
    global nc
    #file_path = "E:\dataset\Weather forecast\li_challenger_wf2018_trainingset_20150301-20180531.nc"
    
    #file_path1 = unicode(file_path1,"utf8")
    #file_path = r"ai_challenger_wf2018_trainingset_20150301-20180531.nc"
    print (log_string, '开始解析文件')
    nc = nc.Dataset("E:\dataset\Weather forecast\li_challenger_wf2018_trainingset_20150301-20180531.nc")
    for var in nc.variables.keys():
        path = "E:\dataset\Weather forecast\\"
        path = path + var 
        print (path)
        data = nc.variables[var][:]
        #print (data)
        #print (type(data))
        #print (data)
        #np.save(path, data)
        pickle.dump(data,open(path +".pkl", 'wb'))
        #print (var , data.shape)
        #print (log_string, path + '.npy', '数据写入')
        if var == 'u' or var == 'v' or var == 'z' or var == 't':
            np.save(path+'_scale_factor', nc.variables[var].getncattr('scale_factor'))
            #nc.variables[var].getncattr('scale_factor').dump(path+'_scale_factor')
            #a.dump('test')
            #a = np.load('test')
            print (log_string, path + '_scale_factor.npy', '数据写入')
            np.save(path+'_add_offset', nc.variables[var].getncattr('add_offset'))
            print (log_string, path + '_add_offset.npy', '数据写入')
    nc.close()
    print (log_string, '数据全部写入完毕 !!！')


log_string = 'Log parse_nc.py :'
parse_nc()

Log parse_nc.py : 开始解析文件
E:\dataset\Weather forecast\foretimes
E:\dataset\Weather forecast\station
E:\dataset\Weather forecast\date
E:\dataset\Weather forecast\psfc_M
E:\dataset\Weather forecast\t2m_M
E:\dataset\Weather forecast\q2m_M
E:\dataset\Weather forecast\rh2m_M
E:\dataset\Weather forecast\w10m_M
E:\dataset\Weather forecast\d10m_M
E:\dataset\Weather forecast\u10m_M
E:\dataset\Weather forecast\v10m_M
E:\dataset\Weather forecast\SWD_M
E:\dataset\Weather forecast\GLW_M
E:\dataset\Weather forecast\HFX_M
E:\dataset\Weather forecast\LH_M
E:\dataset\Weather forecast\RAIN_M
E:\dataset\Weather forecast\PBLH_M
E:\dataset\Weather forecast\TC975_M
E:\dataset\Weather forecast\TC925_M
E:\dataset\Weather forecast\TC850_M
E:\dataset\Weather forecast\TC700_M
E:\dataset\Weather forecast\TC500_M
E:\dataset\Weather forecast\wspd975_M
E:\dataset\Weather forecast\wspd925_M
E:\dataset\Weather forecast\wspd850_M
E:\dataset\Weather forecast\wspd700_M
E:\dataset\Weather forecast\wspd500_M
E:\dataset\Weather forecast\Q975_M
E:\dataset\Weather forecast\Q925_M
E:\dataset\Weather forecast\Q850_M
E:\dataset\Weather forecast\Q700_M
E:\dataset\Weather forecast\Q500_M
E:\dataset\Weather forecast\psur_obs
E:\dataset\Weather forecast\t2m_obs
E:\dataset\Weather forecast\q2m_obs
E:\dataset\Weather forecast\w10m_obs
E:\dataset\Weather forecast\d10m_obs
E:\dataset\Weather forecast\rh2m_obs
E:\dataset\Weather forecast\u10m_obs
E:\dataset\Weather forecast\v10m_obs
E:\dataset\Weather forecast\RAIN_obs
Log parse_nc.py : 数据全部写入完毕 !!！

In [10]:
#foretimes是指数据时次，表示0-36
pickle_file = open('E:\dataset\Weather forecast\\foretimes.pkl', 'rb')
my_list = pickle.load(pickle_file)
my_list

masked_array(data=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                   16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
                   30, 31, 32, 33, 34, 35, 36],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False],
       fill_value=999999)

In [11]:
type(my_list)

numpy.ma.core.MaskedArray

In [12]:
my_list.filled()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36])

In [13]:
my_list.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36]

In [14]:
#foretimes是指数据时次，表示0-36
pickle_file2 = open('E:\dataset\Weather forecast\\date.pkl', 'rb')
my_list2 = pickle.load(pickle_file2)
my_list2

masked_array(data=[2015030103.0, 2015030203.0, 2015030303.0, ...,
                   2018052903.0, 2018053003.0, 2018053103.0],
             mask=[False, False, False, ..., False, False, False],
       fill_value=1e+20)

In [15]:
my_list2.shape

(1188,)

In [16]:
pickle_file3 = open('E:\dataset\Weather forecast\\station.pkl', 'rb')
my_list3 = pickle.load(pickle_file3)
my_list3

masked_array(data=[90001, 90002, 90003, 90004, 90005, 90006, 90007, 90008,
                   90009, 90010],
             mask=[False, False, False, False, False, False, False, False,
                   False, False],
       fill_value=999999)

In [17]:
my_list3.shape

(10,)

In [18]:
pickle_file4 = open('E:\dataset\Weather forecast\\psur_obs.pkl', 'rb')
my_list4 = pickle.load(pickle_file4)
my_list4

masked_array(
  data=[[[1018.5, 1018.0999755859375, 985.4000244140625, ...,
          876.9000244140625, 1018.2999877929688, 967.7999877929688],
         [1017.5999755859375, 1017.0, 984.5, ..., 876.5999755859375,
          1017.2999877929688, 967.2000122070312],
         [1015.7999877929688, 1015.5999755859375, 982.7999877929688,
          ..., 875.9000244140625, 1015.7999877929688, 965.7000122070312],
         ...,
         [1009.0, 1010.2000122070312, 979.2000122070312, ...,
          872.2000122070312, 1009.4000244140625, 962.0],
         [1010.0999755859375, 1011.5, 979.7999877929688, ...,
          872.5999755859375, 1010.2999877929688, 963.0],
         [1011.4000244140625, 1012.2999877929688, 980.2999877929688,
          ..., 873.0, 1011.2999877929688, 963.0]],

        [[1007.4000244140625, 1007.9000244140625, 975.5999755859375,
          ..., 869.5, 1007.5, 958.5],
         [1006.4000244140625, 1006.7000122070312, 974.5, ...,
          869.0999755859375, 1006.5999755859375, 957.9000244140625],
         [1005.2999877929688, 1005.5999755859375, 973.4000244140625,
          ..., 868.4000244140625, 1005.2000122070312, 957.0999755859375],
         ...,
         [1022.7000122070312, 1023.4000244140625, 990.0999755859375,
          ..., 879.2000122070312, 1022.9000244140625, 972.7999877929688],
         [1023.5999755859375, 1024.300048828125, 990.7999877929688, ...,
          879.5, 1023.7999877929688, 973.4000244140625],
         [1024.0, 1024.5999755859375, 991.0, ..., 879.7000122070312,
          1024.0999755859375, 973.5999755859375]],

        [[1021.9000244140625, 1023.0999755859375, 989.4000244140625,
          ..., 877.9000244140625, 1022.9000244140625, 973.0],
         [1021.2000122070312, 1022.4000244140625, 989.0, ...,
          877.7999877929688, 1022.2999877929688, 972.2999877929688],
         [1020.4000244140625, 1021.2000122070312, 987.9000244140625,
          ..., 877.2999877929688, 1021.5, 971.5999755859375],
         ...,
         [1024.9000244140625, 1024.5999755859375, 991.7000122070312,
          ..., 881.2000122070312, 1024.300048828125, 973.4000244140625],
         [1025.300048828125, 1024.9000244140625, 992.0999755859375, ...,
          881.5, 1024.5999755859375, 973.7999877929688],
         [1025.199951171875, 1024.9000244140625, 992.0999755859375, ...,
          881.2999877929688, 1024.5, 973.5999755859375]],

        ...,

        [[1006.5, 1006.9000244140625, 976.9000244140625, ..., 876.5,
          1006.2000122070312, 961.0999755859375],
         [1006.0, 1006.2000122070312, 976.0999755859375, ...,
          876.2999877929688, 1005.7000122070312, 960.2000122070312],
         [1005.2000122070312, 1005.5, 975.0999755859375, ...,
          875.7000122070312, 1005.2999877929688, 959.7000122070312],
         ...,
         [1007.7999877929688, 1007.5999755859375, 977.9000244140625,
          ..., 878.4000244140625, 1007.4000244140625, 961.9000244140625],
         [1008.5, 1008.2000122070312, 978.7000122070312, ...,
          878.9000244140625, 1007.9000244140625, 962.2000122070312],
         [1008.9000244140625, 1008.4000244140625, 979.0999755859375,
          ..., 879.0999755859375, 1008.0, 962.5]],

        [[1007.7000122070312, 1008.9000244140625, 978.0, ...,
          878.5999755859375, 1008.5, 962.5],
         [1007.0, 1008.2999877929688, 977.4000244140625, ...,
          878.4000244140625, 1008.0999755859375, 962.0],
         [1006.5, 1007.7000122070312, 976.7999877929688, ...,
          878.0999755859375, 1007.5999755859375, 961.4000244140625],
         ...,
         [1009.5999755859375, 1009.5999755859375, 979.7999877929688,
          ..., 880.9000244140625, 1009.5, 964.0999755859375],
         [1010.0999755859375, 1010.0, 980.2999877929688, ...,
          881.2000122070312, 1009.7999877929688, 964.5999755859375],
         [1010.2000122070312, 1010.0999755859375, 980.5, ...,
          881.2000122070312, 1009.7999877929688, 964.5999755859375]],

        [[1011.0, 1011.5999755859375, 981.2000122070312, ...,
          882.2000122070312, 1011.2999877929688, 964.7999877929688],
         [1010.4000244140625, 1011.0999755859375, 980.5, ...,
          881.9000244140625, 1010.7999877929688, 964.2000122070312],
         [1009.5, 1010.0999755859375, 979.5999755859375, ...,
          881.4000244140625, 1010.0, 963.5],
         ...,
         [1007.9000244140625, 1008.0, 978.2000122070312, ...,
          879.2999877929688, 1007.5999755859375, 962.0999755859375],
         [1008.2000122070312, 1008.0, 978.4000244140625, ...,
          879.2000122070312, 1007.7999877929688, 962.2000122070312],
         [1008.2000122070312, 1008.0999755859375, 978.5, ...,
          879.0999755859375, 1007.7999877929688, 962.4000244140625]]],
  mask=[[[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        ...,

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]]],
  fill_value=-9999.0,
  dtype=float32)

In [19]:
my_list4.shape

(1188, 37, 10)

In [20]:
pickle_file5 = open('E:\dataset\Weather forecast\\t2m_obs.pkl', 'rb')
my_list5 = pickle.load(pickle_file5)
my_list5

masked_array(
  data=[[[4.0, 8.399999618530273, 3.0, ..., -1.600000023841858,
          7.099999904632568, 7.5],
         [5.800000190734863, 9.699999809265137, 4.5, ..., 1.0,
          9.100000381469727, 8.199999809265137],
         [8.0, 10.300000190734863, 6.599999904632568, ...,
          2.0999999046325684, 10.0, 9.5],
         ...,
         [8.5, 8.699999809265137, 4.900000095367432, ...,
          -3.799999952316284, 9.0, 5.099999904632568],
         [7.699999809265137, 8.0, 4.300000190734863, ...,
          -4.099999904632568, 8.300000190734863, 3.9000000953674316],
         [7.099999904632568, 7.599999904632568, 3.0999999046325684, ...,
          -4.599999904632568, 7.900000095367432, 3.799999952316284]],

        [[7.400000095367432, 8.399999618530273, 6.699999809265137, ...,
          1.0, 8.600000381469727, 8.800000190734863],
         [9.600000381469727, 12.300000190734863, 8.800000190734863, ...,
          3.0, 10.300000190734863, 10.899999618530273],
         [12.0, 13.600000381469727, 10.100000381469727, ...,
          4.699999809265137, 13.100000381469727, 10.800000190734863],
         ...,
         [0.20000000298023224, 0.4000000059604645, -3.299999952316284,
          ..., -11.300000190734863, 1.2000000476837158, -3.5],
         [-0.4000000059604645, -0.4000000059604645, -3.200000047683716,
          ..., -11.600000381469727, 0.8999999761581421,
          -3.200000047683716],
         [-0.6000000238418579, -0.800000011920929, -4.0, ...,
          -11.899999618530273, 0.20000000298023224, -5.5]],

        [[-0.20000000298023224, 0.0, -2.0, ..., -11.100000381469727,
          0.10000000149011612, -3.0],
         [1.0, 0.8999999761581421, -1.399999976158142, ...,
          -9.800000190734863, 1.0, -2.299999952316284],
         [2.0999999046325684, 2.200000047683716, -1.2999999523162842,
          ..., -8.300000190734863, 1.600000023841858,
          -1.7000000476837158],
         ...,
         [-1.899999976158142, 0.4000000059604645, -3.5, ..., -7.5,
          0.800000011920929, -3.5],
         [-2.5999999046325684, -0.10000000149011612, -4.599999904632568,
          ..., -7.199999809265137, 0.20000000298023224,
          -4.699999809265137],
         [-2.4000000953674316, 0.4000000059604645, -5.0, ..., -7.0,
          0.10000000149011612, -6.199999809265137]],

        ...,

        [[26.799999237060547, 27.299999237060547, 24.899999618530273,
          ..., 18.0, 28.899999618530273, 24.5],
         [27.399999618530273, 28.100000381469727, 25.5, ..., 18.5,
          29.100000381469727, 25.600000381469727],
         [27.899999618530273, 29.100000381469727, 26.899999618530273,
          ..., 19.5, 29.200000762939453, 26.799999237060547],
         ...,
         [22.799999237060547, 28.5, 23.799999237060547, ...,
          19.399999618530273, 27.700000762939453, 23.200000762939453],
         [21.299999237060547, 25.0, 21.0, ..., 18.399999618530273, 26.5,
          22.799999237060547],
         [21.799999237060547, 23.0, 19.899999618530273, ...,
          18.899999618530273, 24.5, 21.700000762939453]],

        [[29.5, 28.700000762939453, 29.0, ..., 22.200000762939453,
          28.899999618530273, 27.600000381469727],
         [30.299999237060547, 29.799999237060547, 30.0, ...,
          22.700000762939453, 29.700000762939453, 28.5],
         [31.200000762939453, 30.799999237060547, 31.600000381469727,
          ..., 23.299999237060547, 30.799999237060547, 29.0],
         ...,
         [24.200000762939453, 26.799999237060547, 27.799999237060547,
          ..., 20.299999237060547, 28.5, 25.100000381469727],
         [23.100000381469727, 24.700000762939453, 23.700000762939453,
          ..., 19.700000762939453, 28.100000381469727,
          24.100000381469727],
         [21.799999237060547, 23.299999237060547, 22.0, ...,
          20.600000381469727, 25.299999237060547, 22.299999237060547]],

        [[30.200000762939453, 29.700000762939453, 32.5, ...,
          24.200000762939453, 29.899999618530273, 31.100000381469727],
         [32.20000076293945, 31.600000381469727, 33.599998474121094,
          ..., 25.299999237060547, 31.799999237060547,
          32.599998474121094],
         [33.599998474121094, 33.099998474121094, 34.20000076293945,
          ..., 26.399999618530273, 32.900001525878906,
          32.20000076293945],
         ...,
         [24.100000381469727, 30.200000762939453, 27.0, ..., 20.0, 28.5,
          24.399999618530273],
         [22.5, 26.600000381469727, 23.600000381469727, ...,
          19.100000381469727, 27.299999237060547, 22.299999237060547],
         [21.600000381469727, 24.399999618530273, 22.299999237060547,
          ..., 19.0, 25.700000762939453, 19.600000381469727]]],
  mask=[[[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        ...,

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]]],
  fill_value=-9999.0,
  dtype=float32)

In [21]:
my_list5.shape

(1188, 37, 10)

In [22]:
pickle_file6 = open('E:\dataset\Weather forecast\\w10m_M.pkl', 'rb')
my_list6 = pickle.load(pickle_file6)
my_list6

masked_array(
  data=[[[--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         ...,
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --],
         [--, --, --, ..., --, --, --]],

        [[1.3730000257492065, 2.369999885559082, 2.5409998893737793,
          ..., 1.5520000457763672, 0.7400000095367432,
          3.2330000400543213],
         [3.388000011444092, 1.812999963760376, 1.3550000190734863, ...,
          6.552000045776367, 1.2050000429153442, 1.3220000267028809],
         [1.5160000324249268, 1.5529999732971191, 1.7050000429153442,
          ..., 5.591000080108643, 0.8820000290870667,
          1.9490000009536743],
         ...,
         [1.5640000104904175, 4.3420000076293945, 2.371999979019165,
          ..., 5.767000198364258, 3.5260000228881836, 1.059999942779541],
         [2.515000104904175, 2.5829999446868896, 2.6110000610351562,
          ..., 5.002999782562256, 3.26200008392334, 2.072999954223633],
         [3.1540000438690186, 1.8309999704360962, 1.5529999732971191,
          ..., 4.728000164031982, 1.7960000038146973, 2.306999921798706]],

        [[2.303999900817871, 1.4910000562667847, 1.350000023841858, ...,
          1.5829999446868896, 0.9520000219345093, 0.6330000162124634],
         [5.291999816894531, 3.5239999294281006, 5.256999969482422, ...,
          7.123000144958496, 3.48799991607666, 4.6519999504089355],
         [7.406000137329102, 6.414000034332275, 6.901000022888184, ...,
          8.482000350952148, 4.591000080108643, 6.310999870300293],
         ...,
         [1.565999984741211, 2.0390000343322754, 1.569000005722046, ...,
          0.5440000295639038, 1.1480000019073486, 2.7100000381469727],
         [0.9829999804496765, 1.6740000247955322, 1.7549999952316284,
          ..., 0.734000027179718, 1.1649999618530273,
          2.5250000953674316],
         [1.1610000133514404, 1.5529999732971191, 1.3869999647140503,
          ..., 0.8640000224113464, 1.0099999904632568,
          2.936000108718872]],

        ...,

        [[2.9189999103546143, 0.335999995470047, 1.0829999446868896,
          ..., 3.6659998893737793, 2.556999921798706, 3.950000047683716],
         [3.5199999809265137, 1.3329999446868896, 2.1670000553131104,
          ..., 5.392000198364258, 1.8350000381469727,
          5.1479997634887695],
         [3.247999906539917, 1.722000002861023, 2.3399999141693115, ...,
          6.15500020980835, 1.6430000066757202, 4.955999851226807],
         ...,
         [1.9859999418258667, 0.7570000290870667, 1.246000051498413,
          ..., 2.0420000553131104, 1.0809999704360962,
          1.4639999866485596],
         [1.718000054359436, 1.194000005722046, 1.4220000505447388, ...,
          3.009999990463257, 0.4819999933242798, 1.0889999866485596],
         [1.4709999561309814, 1.3960000276565552, 2.134999990463257,
          ..., 4.34499979019165, 0.6399999856948853, 0.8429999947547913]],

        [[2.631999969482422, 1.1169999837875366, 1.7239999771118164,
          ..., 1.7799999713897705, 1.5870000123977661,
          2.3480000495910645],
         [3.615000009536743, 1.7050000429153442, 1.75600004196167, ...,
          2.5840001106262207, 1.8300000429153442, 2.809999942779541],
         [3.5250000953674316, 1.5, 1.8700000047683716, ...,
          2.5480000972747803, 1.6360000371932983, 2.865999937057495],
         ...,
         [1.1390000581741333, 2.2720000743865967, 1.7120000123977661,
          ..., 0.9520000219345093, 1.649999976158142,
          3.0999999046325684],
         [1.2990000247955322, 2.565000057220459, 1.121999979019165, ...,
          1.3109999895095825, 2.828000068664551, 3.805000066757202],
         [1.2549999952316284, 2.746999979019165, 0.9160000085830688,
          ..., 0.9549999833106995, 2.9200000762939453,
          4.073999881744385]],

        [[2.6689999103546143, 0.48399999737739563, 0.6909999847412109,
          ..., 2.296999931335449, 0.9739999771118164, 1.534000039100647],
         [2.631999969482422, 0.7409999966621399, 0.7049999833106995,
          ..., 2.924999952316284, 0.34200000762939453,
          1.9290000200271606],
         [2.552999973297119, 1.5800000429153442, 0.9079999923706055,
          ..., 2.6089999675750732, 0.953000009059906,
          1.7020000219345093],
         ...,
         [2.499000072479248, 2.7119998931884766, 1.3869999647140503,
          ..., 1.2480000257492065, 2.8499999046325684,
          4.425000190734863],
         [1.6299999952316284, 3.1600000858306885, 1.468000054359436,
          ..., 1.5049999952316284, 2.809000015258789,
          4.2829999923706055],
         [2.1740000247955322, 3.996000051498413, 1.8630000352859497,
          ..., 1.0, 2.8340001106262207, 3.928999900817871]]],
  mask=[[[ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         ...,
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True],
         [ True,  True,  True, ...,  True,  True,  True]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        ...,

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]],

        [[False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         ...,
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False],
         [False, False, False, ..., False, False, False]]],
  fill_value=-9999.0,
  dtype=float32)

In [23]:
my_list6[0][0]

masked_array(data=[--, --, --, --, --, --, --, --, --, --],
             mask=[ True,  True,  True,  True,  True,  True,  True,  True,
                    True,  True],
       fill_value=-9999.0,
            dtype=float32)

In [24]:
my_list5[:][:][0].shape

(37, 10)

In [25]:
my_list5[0][0][0]

4.0

In [26]:
my_list5.shape

(1188, 37, 10)

In [27]:
my_list2.data.astype(int)

array([2015030103, 2015030203, 2015030303, ..., 2018052903, 2018053003,
       2018053103])

In [28]:
my_list.shape[0]

37

In [29]:
hour_l = []
for i in range(my_list.shape[0]):
    hour_l.append("hour"+str(i))
print (hour_l)

['hour0', 'hour1', 'hour2', 'hour3', 'hour4', 'hour5', 'hour6', 'hour7', 'hour8', 'hour9', 'hour10', 'hour11', 'hour12', 'hour13', 'hour14', 'hour15', 'hour16', 'hour17', 'hour18', 'hour19', 'hour20', 'hour21', 'hour22', 'hour23', 'hour24', 'hour25', 'hour26', 'hour27', 'hour28', 'hour29', 'hour30', 'hour31', 'hour32', 'hour33', 'hour34', 'hour35', 'hour36']

In [30]:
my_list2.shape[0]

1188

In [31]:
cols = []

cols.append(hour_l)
print (cols)
df_time = pd.DataFrame(columns = cols)
for i in range(my_list2.shape[0]):
    df_time.loc[df_time.shape[0],:] = my_list.data

[['hour0', 'hour1', 'hour2', 'hour3', 'hour4', 'hour5', 'hour6', 'hour7', 'hour8', 'hour9', 'hour10', 'hour11', 'hour12', 'hour13', 'hour14', 'hour15', 'hour16', 'hour17', 'hour18', 'hour19', 'hour20', 'hour21', 'hour22', 'hour23', 'hour24', 'hour25', 'hour26', 'hour27', 'hour28', 'hour29', 'hour30', 'hour31', 'hour32', 'hour33', 'hour34', 'hour35', 'hour36']]

In [32]:
df_time.loc[:, 'date'] = my_list2.data.astype(int)
df_time.head()

,hour0,hour1,hour2,hour3,hour4,hour5,hour6,hour7,hour8,hour9,...,hour28,hour29,hour30,hour31,hour32,hour33,hour34,hour35,hour36,date
0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030103
1,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030203
2,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030303
3,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030403
4,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030503

In [33]:
df_time2 = pd.melt(df_time, id_vars=["date"], 
                  var_name="hour", value_name="Value")
df_time2.sort_values(by = ['date','Value'], ascending = [True, True], inplace = True)
df_time2.reset_index(inplace = True, drop = True)

In [34]:
df_time2.sort_values(by = ['date','Value'], ascending = [True, True], inplace = True)
df_time2.head()

         date   hour  Value
0  2015030103  hour0    0.0
1  2015030103  hour1    1.0
2  2015030103  hour2    2.0
3  2015030103  hour3    3.0
4  2015030103  hour4    4.0

In [35]:
df_time2.drop("Value", inplace = True, axis =1)
df_time2.head()

         date   hour
0  2015030103  hour0
1  2015030103  hour1
2  2015030103  hour2
3  2015030103  hour3
4  2015030103  hour4

In [36]:
df2 = pd.melt(df_time, id_vars=["date"], 
                  var_name="hour", value_name="Value")
df2.head()

         date   hour  Value
0  2015030103  hour0    0.0
1  2015030203  hour0    0.0
2  2015030303  hour0    0.0
3  2015030403  hour0    0.0
4  2015030503  hour0    0.0

In [37]:
#df2

In [38]:
df2.sort_values(by = ['date','Value'], ascending = [True, True], inplace = True)
df2.head()

            date   hour  Value
0     2015030103  hour0    0.0
1188  2015030103  hour1    1.0
2376  2015030103  hour2    2.0
3564  2015030103  hour3    3.0
4752  2015030103  hour4    4.0

In [39]:
df2.reset_index(inplace = True, drop = True)
df2.head()

         date   hour  Value
0  2015030103  hour0    0.0
1  2015030103  hour1    1.0
2  2015030103  hour2    2.0
3  2015030103  hour3    3.0
4  2015030103  hour4    4.0

In [40]:
my_list3[0]

90001

In [41]:
station_l = []
for i in range(my_list3.shape[0]):
    station_l.append(str(my_list3[i]))
print (station_l)

['90001', '90002', '90003', '90004', '90005', '90006', '90007', '90008', '90009', '90010']

In [42]:
df2.shape[0]

43956

In [43]:
for col in station_l:
    df2.loc[:,col] = np.nan
df2.head()

,date,hour,Value,90001,90002,90003,90004,90005,90006,90007,90008,90009,90010
0,2015030103,hour0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015030103,hour1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015030103,hour2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015030103,hour3,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015030103,hour4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df2.drop("Value", axis =1, inplace =True)
df2.head()

,date,hour,90001,90002,90003,90004,90005,90006,90007,90008,90009,90010
0,2015030103,hour0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015030103,hour1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015030103,hour2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015030103,hour3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015030103,hour4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
my_list5[0][0].data

array([ 4. ,  8.4,  3. ,  6.9,  8.7,  6.9,  7.4, -1.6,  7.1,  7.5],
      dtype=float32)

In [46]:
for i in range(df2.shape[0]):
    j = int(i / 37)
    k = i % 37
    #print (i, j,k)
    #print (df2.loc[i,:])
    df2.loc[i, station_l] = my_list5[j][k].data

In [47]:
df2.tail()

,date,hour,90001,90002,90003,90004,90005,90006,90007,90008,90009,90010
43951,2018053103,hour32,32.299999,32.799999,30.600000,32.000000,32.200001,28.000000,30.900000,22.0,32.000000,29.200001
43952,2018053103,hour33,26.700001,31.500000,28.100000,27.400000,31.000000,24.000000,27.799999,20.6,30.000000,27.400000
43953,2018053103,hour34,24.100000,30.200001,27.000000,23.799999,29.299999,22.299999,23.900000,20.0,28.500000,24.400000
43954,2018053103,hour35,22.500000,26.600000,23.600000,21.900000,26.100000,21.000000,21.000000,19.1,27.299999,22.299999
43955,2018053103,hour36,21.600000,24.400000,22.299999,20.200001,24.900000,20.100000,19.000000,19.0,25.700001,19.600000

In [48]:
df2.head()

,date,hour,90001,90002,90003,90004,90005,90006,90007,90008,90009,90010
0,2015030103,hour0,4.0,8.4,3.0,6.9,8.7,6.9,7.4,-1.6,7.1,7.5
1,2015030103,hour1,5.8,9.7,4.5,8.6,9.8,8.3,9.0,1.0,9.1,8.2
2,2015030103,hour2,8.0,10.3,6.6,10.1,10.7,8.8,10.6,2.1,10.0,9.5
3,2015030103,hour3,10.0,11.4,7.8,11.4,11.8,9.9,10.8,2.9,11.5,9.5
4,2015030103,hour4,10.7,12.2,9.5,11.7,12.7,9.8,11.9,3.9,11.6,9.7

In [49]:
df3 =  pd.melt(df2, id_vars=['date','hour'], value_vars=station_l)
df3.head()

         date   hour variable  value
0  2015030103  hour0    90001    4.0
1  2015030103  hour1    90001    5.8
2  2015030103  hour2    90001    8.0
3  2015030103  hour3    90001   10.0
4  2015030103  hour4    90001   10.7

In [50]:
df3.rename(columns ={'variable':'station','value':'tm2'}, inplace = True)
df3.head()

         date   hour station   tm2
0  2015030103  hour0   90001   4.0
1  2015030103  hour1   90001   5.8
2  2015030103  hour2   90001   8.0
3  2015030103  hour3   90001  10.0
4  2015030103  hour4   90001  10.7

In [51]:
cnt = 0 
#data_sample = pd.DataFrame()
for root, dirs, files in os.walk('E:\dataset\Weather forecast\\'):
    print (root)
    for file in files:
        if file.endswith("M.pkl"):
            print (file)
            cnt += 1
print (cnt)

E:\dataset\Weather forecast\
d10m_M.pkl
GLW_M.pkl
HFX_M.pkl
LH_M.pkl
PBLH_M.pkl
psfc_M.pkl
q2m_M.pkl
Q500_M.pkl
Q700_M.pkl
Q850_M.pkl
Q925_M.pkl
Q975_M.pkl
RAIN_M.pkl
rh2m_M.pkl
SWD_M.pkl
t2m_M.pkl
TC500_M.pkl
TC700_M.pkl
TC850_M.pkl
TC925_M.pkl
TC975_M.pkl
u10m_M.pkl
v10m_M.pkl
w10m_M.pkl
wspd500_M.pkl
wspd700_M.pkl
wspd850_M.pkl
wspd925_M.pkl
wspd975_M.pkl
29

In [52]:
df_time2.shape[0]

43956

In [53]:
file[0:file.rfind('_', 1)]

'wspd975'

In [ ]:
cnt = 0
df_all = pd.DataFrame()
for root, dirs, files in os.walk('E:\dataset\Weather forecast\\'):
    print (root)
    for file in files:
        if file.endswith("M.pkl"):
            cnt += 1
            print (cnt)
            print (file)
            df_n = df_time2
            col_name = file[0:file.rfind('_', 1)]
            pickle_file_n = open('E:\dataset\Weather forecast\\'+file, 'rb')
            my_list_n = pickle.load(pickle_file_n)
            my_list_n
            for col in station_l:
                df_n.loc[:,col] = np.nan
            for i in range(df_time2.shape[0]):
                j = int(i / 37)
                k = i % 37
                #print (i, j,k)
                #print (df2.loc[i,:])
                df_n.loc[i, station_l] = my_list_n[j][k].data
            df3 =  pd.melt(df_n, id_vars=['date','hour'], value_vars=station_l)
            df3.rename(columns ={'variable':'station','value':col_name}, inplace = True)
            if df_all.shape[0] == 0:
                df_all = df3
            else:
                df_all = pd.merge(df_all, df3, left_on = ['date','hour','station'], right_on = ['date','hour','station'])
            print (df_all.shape)
            
df_all.shape

E:\dataset\Weather forecast\
1
d10m_M.pkl
(439560, 4)
2
GLW_M.pkl
(439560, 5)
3
HFX_M.pkl
(439560, 6)
4
LH_M.pkl
(439560, 7)
5
PBLH_M.pkl
(439560, 8)
6
psfc_M.pkl
(439560, 9)
7
q2m_M.pkl
(439560, 10)
8
Q500_M.pkl
(439560, 11)
9
Q700_M.pkl
(439560, 12)
10
Q850_M.pkl
(439560, 13)
11
Q925_M.pkl
(439560, 14)
12
Q975_M.pkl
(439560, 15)
13
RAIN_M.pkl
(439560, 16)
14
rh2m_M.pkl
(439560, 17)
15
SWD_M.pkl
(439560, 18)
16
t2m_M.pkl
(439560, 19)
17
TC500_M.pkl
(439560, 20)
18
TC700_M.pkl
(439560, 21)
19
TC850_M.pkl
(439560, 22)
20
TC925_M.pkl
(439560, 23)
21
TC975_M.pkl
(439560, 24)
22
u10m_M.pkl
(439560, 25)
23
v10m_M.pkl
(439560, 26)
24
w10m_M.pkl
(439560, 27)
25
wspd500_M.pkl
(439560, 28)
26
wspd700_M.pkl
(439560, 29)
27
wspd850_M.pkl

In [67]:
df_all.to_csv('E:\dataset\Weather forecast\data_all.csv', index = False)

In [45]:
df3 = pd.melt(df2, id_vars=["date","hour"], 
                  var_name="station", value_name= )
df3.head()

         date   hour station  value
0  2015030103  hour0   Value    0.0
1  2015030103  hour1   Value    1.0
2  2015030103  hour2   Value    2.0
3  2015030103  hour3   Value    3.0
4  2015030103  hour4   Value    4.0

In [50]:
df_time.reset_index()

,index,hour0,hour1,hour2,hour3,hour4,hour5,hour6,hour7,hour8,...,hour28,hour29,hour30,hour31,hour32,hour33,hour34,hour35,hour36,date
0,0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030103
1,1,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030203
2,2,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030303
3,3,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030403
4,4,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030503
5,5,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030603
6,6,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030703
7,7,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030803
8,8,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015030903
9,9,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031003
10,10,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031103
11,11,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031203
12,12,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031303
13,13,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031403
14,14,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031503
15,15,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031603
16,16,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031703
17,17,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031803
18,18,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015031903
19,19,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032003
20,20,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032103
21,21,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032203
22,22,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032303
23,23,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032403
24,24,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032503
25,25,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032603
26,26,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032703
27,27,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032803
28,28,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015032903
29,29,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2015033003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,1158,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018050203
1159,1159,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018050303
1160,1160,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018050403
1161,1161,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018050503
1162,1162,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018050603
1163,1163,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018050703
1164,1164,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018050803
1165,1165,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018050903
1166,1166,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051003
1167,1167,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051103
1168,1168,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051203
1169,1169,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051303
1170,1170,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051403
1171,1171,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051503
1172,1172,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051603
1173,1173,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051703
1174,1174,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051803
1175,1175,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018051903
1176,1176,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052003
1177,1177,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052103
1178,1178,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052203
1179,1179,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052303
1180,1180,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052403
1181,1181,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052503
1182,1182,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052603
1183,1183,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052703
1184,1184,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052803
1185,1185,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018052903
1186,1186,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018053003
1187,1187,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,2018053103

In [ ]:
df = pd.DataFrame(columns = ['date','hour','90001', '90002', '90003', '90004', '90005','90006', '90007', '90008',
                   '90009', '90010'])
for i in range(0,my_list5.shape[0]):
    date1 = my_list2[i]
    for j in range(0,my_list5.shape[1]):
        hour1 = my_list[j]
        for t in range(0,my_list5.shape[2]):
            station = my_list3[t]
            df.loc[df.shape[0],:] = [station, date1, hour1, my_list5[i][j][t]]

In [ ]:
#每个maskarray的第一维是date，第二维是hour，第三维是站点
df = pd.DataFrame(columns = ['station', 'date','hour', 't2m'])
for i in range(0,my_list5.shape[0]):
    date1 = my_list2[i]
    for j in range(0,my_list5.shape[1]):
        hour1 = my_list[j]
        for t in range(0,my_list5.shape[2]):
            station = my_list3[t]
            df.loc[df.shape[0],:] = [station, date1, hour1, my_list5[i][j][t]]

C:\Users\jfx\Anaconda2\envs\py3\lib\site-packages\pandas\core\internals.py:687: UserWarning: Warning: converting a masked element to nan.
  arr_value = np.array(value)

In [ ]:
#绘制
import sys
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits.basemap import Basemap


# 数据文件路径
def data_path(filename):
    file_path = "{path}/data/{filename}".format(
        path=sys.path[0],
        filename=filename
    )
    return file_path


# 获取数据
def read_data(path):
    data = np.load(path)
    print log_string, path, '数据读取'
    return data


# 绘制
def graph(lon, lat, target, title):
    print log_string, '开始绘制, 参数数据：', 'longitude:', lon.shape, ' latitude:', lat.shape, title, ":", target.shape
    b_map = Basemap(resolution='l', area_thresh=10000, projection='cyl', llcrnrlon=0, urcrnrlon=360, llcrnrlat=-90,
                    urcrnrlat=90)   # 实例basemap对象
    print type(target)
    fig = plt.figure()
    ax = fig.add_axes([0.1, 0.1, 0.8, 0.8])
    lon, lat = np.meshgrid(lon, lat)  # 生成网格数据
    x, y = b_map(lon, lat)

    #for i in range(target.shape[0]):
        #for j in range(target.shape[1]):
    cs = b_map.contourf(x, y, target[0, 0, :, :])
    b_map.colorbar(cs)
    b_map.drawcoastlines(linewidth=0.2)
    plt.title(title, size=20)
    #pic_path = sys.path[0] + '/data/' + title + '_pic/'+str(i)+'_'+str(j)+'.png'
    #plt.savefig(pic_path)
    #print log_string, sys.path[0] + '/data/' + title + '_pic/'+str(i)+'_'+str(j)+'.png  saved'
    plt.show()

    plt.close()


if __name__ == '__main__':
    log_string = 'Log draw_data.py : '
    title = 'u'
    longitude = read_data(data_path('longitude.npy'))
    latitude = read_data(data_path('latitude.npy'))
    tar = read_data(data_path(title+'.npy'))
    scale_factor = read_data(data_path(title+'_scale_factor.npy'))
    add_offset = read_data(data_path(title+'_add_offset.npy'))
    new_tar = tar*scale_factor+add_offset  # 偏移计算
    graph(longitude, latitude, new_tar, title)   # 画图